.transaction-visualisations {
  display: flex;
  flex-direction: column;
  gap: 48px;


  &__header {
    border-top: 2px solid #6366f1;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding-top: 16px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 24px;

      &__buttons {
        justify-content: space-between;
      }
    }

    &__buttons {
      display: flex;
      gap: 36px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      align-items: center;
      flex-direction: column;
      gap: 36px;
    }
  }


  &__pie-chart {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
  }

  &__total-value {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    width: 50%;

    &__text {
      font-size: 20px;
      font-weight: 700;

      &--positive {
        color: green;
      }

      &--negative {
        color: red;
      }
    }
  }
}