ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.expense-limit-history {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__cards--empty {
    padding: 64px 0;
    text-align: center;
  }
}