.savings-goals {
  border-top: 2px solid #6366f1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 16px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__buttons {
      display: flex;
      gap: 16px;
    }
  }

  &__cards {
    display: grid;
    grid-gap: 16px;

    @media screen and (min-width: 768px) {
      grid-template-columns:repeat(auto-fit, calc(50% - 8px));
    }
    @media screen and (min-width: 960px) {
      grid-template-columns:repeat(auto-fit, calc(100% / 3 - 32px / 3));
    }

    &--empty {
      text-align: center;
    }

    .p-card {
      &-content {
        margin: 0;
        padding: 8px 0;
        width: 90%;
      }

      &-body {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 36px;
      width: 100%;

      &__values {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}