.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form-container {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        &__username-container,
        &__password-container {
            display: flex;
            flex-direction: column;
            gap:6px;
        }
    }
}
